#budget-breakdown-container {
    width: 100%;
    height: 300px;
    background: #21AD85;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.budget-breakdown-section {
    width: 95%;
    margin: 20px 0;
}

.budget-title {
    color: #158464;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    text-align: left;
}

.budget-breakdown  {
    justify-content: space-between;
    
}

.budget-breakdown-category-cont {
}

.category-icon {

}

.category-title {
    color:  #9ad7c6;
    margin: 0;
    text-transform: uppercase;
}

.category-amount {
    color: rgb(235, 235, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}