#dashboard-container {
    width: auto;  
}

#budget-breakdown-container {
    width: 100%;
    height: 300px;
    background: #21AD85;

}

#transactions-container {
    width: 100%;
    height: 400px;
    background: white;

}

.dashboard-content-cont {
    margin: 30px 0px;
}