/* Show */
#transaction-show-container {
    width: 50%;
    height: 100%;
    position: relative;
    background: #ffffff;
}

#transaction-member-text {
    color: #dfaf82;
    text-transform: uppercase;
}
  
#transaction-source-container {
    justify-content: space-evenly;
    width: 95%;
    align-items: center;
}

.trasnaction-info-text {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(134, 139, 138);  
}
  
#from {
    font-size: 12px;
    color: rgb(134, 139, 138);
}
  
#amount-container {
    margin: 20px;
}
  
#transaction-amount {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

#transaction-type {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(134, 139, 138);
}
  
#wages-text-container {
    width: 100px;
    height: 40px;
    background: #65baa0; 
}
  
#details-container{
    width: 90%;
    color: rgb(134, 139, 138);
}
  
.detail {
    width: 80%;
    justify-content: space-between;
    
    p { 
      margin: 7px;
    }
}
  
.transaction-detail-title {
    color: #bdc6c3;
}
.transaction-detail-text {
    color: #dfaf82;
}
  
.row {
    display: flex;
    flex-direction: row;
}
  
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#transactions-button-containter {
    justify-content: space-between;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.transaction-form-button {
    width: 220px;
    height: 40px;
    margin: 10px;
    text-transform: uppercase;
    border: 1px solid #dfaf82;
    font-weight: 600;
    background: transparent;
    color: #dfaf82;
}
.transaction-form-button:hover {
    color: #65baa0;
    border: 1px solid #65baa0;
    cursor: pointer;
}

#transaction-form-buttons{
    margin-top: 20px;
}
.new-transaction-form-button{
    width: 180px;
    height: 40px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}
.new-transaction-form-button:hover{
    width: 180px;
    height: 40px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #0d4434;
    color: #0d4434;
}

/* Update Form */
#transaction-form-container {
    position: relative; 
    width: 50%;
    height: 100%;
}

#transaction-form {
    color: white;
    width: 80%;
    align-items: start;
    position: relative;
    top: 90px;
    left: 80px;

    p {
        margin-bottom: 25px;

    }
}

.new-transaction-label {
    margin: 10px 0px;

}
.form-choice {
    position: absolute;
    left: 160px;
    width: 200px;
    height: 20px;
    border: none;
}


#select-category-container {
    margin-top: 10px;
}