#transactions-control-container {
    width: 100%;
    height: 70px;

    background: #ebdbcc;
    color: #dfaf82;
    position: sticky;
    top: 0;
}

#transaction-view {
    justify-content: start;
}

#transactions-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    margin: 0;
    width: 200px;
    position: absolute;
    right: 150px;
}

.controls-cont {
    width: 300px;
    justify-content: space-evenly;

    p {
        margin: 5px;
    }
}

.control-text:hover {
    color: #de9652;
    cursor: pointer;
}

#add-transaction-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;

    font-size: 30px;
    color: #ebdbcc;
    background: #dfaf82;

    position: absolute;
    right: 50px;
}

#add-transaction-button:hover {
    background: #de9652;
    cursor: pointer;
}

table {
    color: #29302e;
    margin: 10px 25px;
}

thead{
    background: white;
    height: 40px;
    font-weight: 600;
    position: sticky;
    top: 70px;
}

#header-row {
    color: #a6bdb7;
}

.transaction-item {
    height: 40px;

    p {
        text-transform: uppercase;
        font-weight: 400;
        color: #4f5f5b;
    }
}

.transaction-item:hover {

    p {
        color: #dfaf82;
        cursor: pointer;
    }

    td {
        font-weight: 500;
    }
}

/* header elements */
#category-column{
    width: 2%;
    text-align: left;
    padding-left: 10px;

}
#date-column{
    width: 5%;
}
#description-column{
    width: 15%;
}
#source-column{
    width: 20%;
}
#amount-column{
    width: 5%;
    text-align: left;
    padding-left: 10px;  
}
#edit-column{
    width: 2.5%;
}
#delete-column{
    width: 2.5%;
}

/* row elements */
#category-text{
    padding-left: 10px;
}
#date-text{
    text-align: center;   
}
#description-text{
    padding-left: 10px;  
}
#source-text{
    padding-left: 10px;  
}
#amount-text{
    text-align: left; 
    padding-left: 10px;   
}


.table-icon {
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}