table {
    color: #29302e;
    margin: 10px 25px;
}

th{
    background: white;
    height: 40px;
    font-weight: 600;
    position: sticky;
    top: 0;
}

#header-row {
    color: #a6bdb7;
}

.transaction-item {
    height: 40px;

    p {
        text-transform: uppercase;
        font-weight: 400;
        color: #4f5f5b;
    }
}

.transaction-item:hover {

    p {
        color: #dfaf82;
        cursor: pointer;
    }

    td {
        font-weight: 500;
    }
}

/* header elements */
#category-column{
    width: 2%;
    text-align: left;
    padding-left: 10px;

}
#date-column{
    width: 5%;
}
#description-column{
    width: 15%;
}
#source-column{
    width: 20%;
}
#amount-column{
    width: 5%;
    text-align: left;
    padding-left: 10px;  
}
#edit-column{
    width: 2.5%;
}
#delete-column{
    width: 2.5%;
}

/* row elements */
#category-text{
    padding-left: 10px;
}
#date-text{
    text-align: center;   
}
#description-text{
    padding-left: 10px;  
}
#source-text{
    padding-left: 10px;  
}
#amount-text{
    text-align: left; 
    padding-left: 10px;   
}


.table-icon {
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}