#app-view {
  display: grid;
  grid-template-columns: 165px 1fr;
  width: 100vw;
  height: 860px;
}

#left-bar-container {
  grid-template-columns: 1 / 2;
  background: #FFFFFF;
}

#right-page-container {
  grid-template-columns: 2 / span end;
  background: #DDEDE9;
}

#members-container {
  background: #FFFFFF;
  width: 1050px;
  height: 85px;
}

#main-content-container {
  background: #FFFFFF;
}
