#app-view {
  display: grid;
  grid-template-columns: 125px 1fr;
  width: 100vw;
  height: 120vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#left-bar-container {
  grid-template-columns: 1 / 2;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-page-container {
  background: #DDEDE9;
}

#main-content-container {
  width: 95%;
  height: 800px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

.component-title {
  background: rgb(171, 227, 208);
  color: #21AD85;
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.base-content-container {
  background: #21AD85;
  width: 100%;
  height: 620px;
  position: relative;
  margin-top: 40px;
}

.red-text {
  color: #D62246;
}

.ctr-text {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey-text {
  color: #979a98;
}

.wht-text {
  color: #FFFFFF;
}